.container_width {
	width: 790px;
}
.monstring {
 padding: 5px 5px 5px 10px;
}
.starts {
 font-weight: bold;
font-size: 14px;
padding-top: 15px;
}
.monstring .actions div {
width: 60px;
text-align: center;
margin: 0px 10px 0px -5px;
line-height: 10px;
}
.monstring .actions div img {
 width: 20px;
 margin-bottom: 3px;
}

.monstring h2 {
 font-size: 24px;
 margin: 3px 0px 0px 140px;
}
.monstring h3 {
 font-size: 18px;
 margin: 3px;
}

.details {
 margin-left: 130px;
}
.details table img {
 width: 35px;
}


.clickable {
	cursor: pointer;
}