<h2>Lokalmønstringer i {{fylke.name}}</h2>

<div class="container_width">
	<a href="mailto:{{mailtoall}}" class="pull-right btn btn-medium btn-primary" style="text-decoration: none;">
		Send e-post til alle kontaktpersoner
	</a>
	<button class="pull-right btn btn-medium btn-primary" id="smstoall">
		Send SMS til alle kontaktpersoner
	</button>
	<div class="clearfix"></div>
</div>

<div class="clearfix"></div>
	
<ol class="unstyled container_width">
	{% for monstring in monstringer %}
	<li class="well well-mini monstring {% if monstring.registered == false %}alert alert-error{% endif %}">

		<div class="starts pull-right">{{monstring.starter}}</div>

		<div class="actions">
			<div class="pull-left details_show clickable">
				<img src="//ico.ukm.no/sirkel-pluss-256.png" /><br />
				<small>Vis detaljer</small>
			</div>
			<div class="pull-left details_hide clickable" style="display:none;">
				<img src="//ico.ukm.no/sirkel-minus-256.png" /><br />
				<small>Skjul detaljer</small>
			</div>

			<div class="pull-left wpadmin clickable" data-url="{{monstring.link}}wp-admin/">
				<img src="//ico.ukm.no/wordpress-32.png" /><br />
				<small>Gå til kontrollpanel</small>
			</div>
		</div>
		
		<h2>{{monstring.name}}</h2>

		<div class="clearfix"></div>
		
		<div class="details" style="display:none;">
			<h3>Kontaktpersoner</h3>
			<table class="table">
			{% for kontakt in monstring.kontakter %}
				<tr>
					<td><img src="{{kontakt.picture}}" /></td>
					<td>{{kontakt.name}}</td>
					<td class="UKMSMS">{{kontakt.phone}}</td>
					<td><a href="mailto:{{kontakt.email}}">{{kontakt.email}}</a></td>
				</tr>
			{% endfor %}
			</table>
		</div>
		<div class="clearfix"></div>
	</li>
	{% endfor %}
</ol>