<h2>Lokalmønstringer i {{fylke.name}}</h2>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Mønstring</th>
			<th>Starter</th>
			<th>Kommune</th>
			<th>Kontaktperson</th>
			<th>Telefon</th>
			<th>E-post</th>
		</tr>
	</thead>
	
	{% for monstring in monstringer %}
		<tr {% if !monstring.registered %}class="error"{% endif %}>
			<td>{{monstring.name}}</td>
			<td>{{monstring.name}}</td>
			<td>{{monstring.name}}</td>
			<td>{{monstring.name}}</td>
			<td>{{monstring.name}}</td>
			<td>{{monstring.name}}</td>
		</tr>

	{% endfor %}
</table>